<%- include('partials/userheader.ejs') %>
<section class="text-center">
    <h4 ><strong>Cart Items</strong></h4>
    </section>

<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" action="/save-place-order" method="POST">
       
        
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Mobile</label>  
        <div class="col-md-4">
        <input id="contactno" name="contactno" type="text" placeholder="Mobile no" class="form-control input-md">
         
        </div>
      </div>
       <!-- Text input-->
       <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Name</label>  
        <div class="col-md-4">
        <input id="name" name="name" type="text" placeholder="name" class="form-control input-md">
         
        </div>
      </div>

           <!-- Text input-->
           <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Address</label>  
            <div class="col-md-4">
            <input id="address" name="address" type="text" placeholder="address" class="form-control input-md">
             
            </div>
          </div>
    
      
      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="button1id"></label>
        <div class="col-md-8">
          <button class="btn btn-success">Confirm Order</button>
         
        </div>
      </div>
      
  
      </form>

    </div>

    <div class="col-md-12">
      <a href="/back-viewmenu" class="btn btn-sm btn-info btn-circle m-b-10" style="margin-bottom: 10px;"><i class="fa fa-home"></i>Back To Main Menu</a> 
       <div class="table-responsive">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Quantiry</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
                <th scope="col" style="width:20%"></th>
              </tr>
            </thead>
            <tbody>
            
              <%
              if(modelData !=null){
              var i=1;
              var checkoutprice = 0;
              modelData.forEach(function(data){
                checkoutprice = checkoutprice + data.totalprice;
              %>
              <tr>
                <td scope="row"><img style="width:100px;height:100px" src="/uploads/images/<%=data.image %>"/></td>
                <td><%=data.title %></td>
                <td><%=data.description %></td>
                <td><%=data.qty %></td>
                <td><%=data.unitprice %></td>
                <td><%=data.totalprice %></td>
                <td>
                
                </td>
              </tr>
              <%  i++; }) %>

            <% } else{ %>
                <tr>
                    <td colspan="5">No Data Found</td>
                </tr>
            <% } %>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Checkout Price</td>
                <td><%=checkoutprice%></td>
                <td>
                  <%
                  if(checkoutprice !=0){
                    %>
                    
                    <% }%>
                </td>
              </tr>
            </tfoot>
          </table>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>