<%- include('partials/userheader.ejs') %>
<section class="text-center">
    <h4 ><strong>Menu</strong></h4>
    </section>
    <div class="row">
       
            </div>
<div class="row">
    <div class="col-md-12">
       <div class="table-responsive">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                
                <th scope="col" style="width:20%"></th>
              </tr>
            </thead>
            <tbody>
            
              <%
              if(modelData !=null){
              var i=1;
              modelData.forEach(function(data){
              %>
              <tr>
                <td scope="row"><img style="width:100px;height:100px" src="/uploads/images/<%=data.image %>"/></td>
                <td><%=data.title %></td>
                <td><%=data.description %></td>
                
                <td>
                  <a href="/viewmenuitems?id=<%=data.id %>" class="btn btn-primary btn-sm btn-circle" title="Add Items"><i class="fa fa-eye"></i></a>
                </td>
              </tr>
              <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="5">No Data Found</td>
                </tr>
            <% } %>
            </tbody>
          </table>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>