<%- include('partials/userheader.ejs') %>
<section class="text-center">
    <h4 ><strong>Menu Items</strong></h4>
    </section>

<div class="row">
    <div class="col-md-12">
      <a href="/back-viewmenu" class="btn btn-sm btn-info btn-circle m-b-10" style="margin-bottom: 10px;"><i class="fa fa-home"></i>Back To Main Menu</a> 
       <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
            
              </tr>
            </thead>
            <tbody>
            
              <%
              if(modelData !=null){
              var i=1;
              modelData.forEach(function(data){
              %>
              <tr>
                <td scope="row"><img style="width:100px;height:100px" src="/uploads/images/<%=data.image %>"/></td>
                <td><strong><%=data.title %></strong><br>
                <i><%=data.description %></i><br>
                <b><%=data.price %></b><br>
                <a href="/addto-cart?id=<%=data.id %>" class="btn btn-sm btn-info"><i class="fa fa-shopping-cart"></i>Add To Cart</a> 
                </td>
             
              </tr>
              <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="5">No Data Found</td>
                </tr>
            <% } %>
            </tbody>
          </table>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>